*{margin:0;padding:0;box-sizing: border-box;font-family: 'Mali', cursive;}
@import url('https://fonts.googleapis.com/css?family=Mali&display=swap');
header{
	background-image: linear-gradient(rgba(0, 0, 0, .7),rgba(0, 0, 0, .1)),url('images/menu.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
	max-width: 100%;
	height: 690px;
}
.head_text{
	padding-top: 220px;
	margin:auto; 
}